---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&sites=enwiki&titles=Sid%20Vicious
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q47878":{"pageid":49930,"ns":0,"title":"Q47878","lastrevid":151549910,"modified":"2014-08-18T23:09:46Z","id":"Q47878","type":"item","aliases":{"zh":[{"language":"zh","value":"Sid
        Vicious"},{"language":"zh","value":"\u5e2d\u5fb7\u00b7\u7dad\u745f\u65af"}],"es":[{"language":"es","value":"John
        Simon Ritchie-Beverly"},{"language":"es","value":"John Simon Ritchie"},{"language":"es","value":"John
        Simon Ritchie Beverly"}],"hu":[{"language":"hu","value":"John Ritchie"}],"el":[{"language":"el","value":"Sid
        Vicious"}],"nl":[{"language":"nl","value":"John Ritchie"}],"sv":[{"language":"sv","value":"Vicious"},{"language":"sv","value":"John
        Beverly"}],"pt":[{"language":"pt","value":"Sid Vicius"},{"language":"pt","value":"John
        simon ritchie-beverly"}],"ru":[{"language":"ru","value":"\u0412\u0438\u0448\u0435\u0441,
        \u0421\u0438\u0434"},{"language":"ru","value":"\u0420\u0438\u0447\u0447\u0438,
        \u0414\u0436\u043e\u043d \u0421\u0430\u0439\u043c\u043e\u043d"},{"language":"ru","value":"\u0412\u0438\u0448\u0435\u0437,
        \u0421\u0438\u0434"},{"language":"ru","value":"\u0414\u0436\u043e\u043d \u0421\u0430\u0439\u043c\u043e\u043d
        \u0420\u0438\u0447\u0438"},{"language":"ru","value":"\u0414\u0436\u043e\u043d
        \u0420\u0438\[...]
