---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&sites=enwiki&titles=GitHub
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=52223 t=1508914871280237
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 88.168.131.229
    body:
      encoding: UTF-8
      string: '{"entities":{"Q364":{"pageid":561,"ns":0,"title":"Q364","lastrevid":579748436,"modified":"2017-10-17T17:51:13Z","type":"item","id":"Q364","labels":{"en":{"language":"en","value":"GitHub"},"pl":{"language":"pl","value":"GitHub"},"fr":{"language":"fr","value":"GitHub"},"de":{"language":"de","value":"GitHub"},"zh":{"language":"zh","value":"GitHub"},"es":{"language":"es","value":"GitHub"},"fa":{"language":"fa","value":"\u06af\u06cc\u062a\u200c\u0647\u0627\u0628"},"id":{"language":"id","value":"GitHub"},"ja":{"language":"ja","value":"GitHub"},"ko":{"language":"ko","value":"\uae43\ud5c8\ube0c"},"nl":{"language":"nl","value":"GitHub"},"pt":{"language":"pt","value":"GitHub"},"ru":{"language":"ru","value":"GitHub"},"sv":{"language":"sv","value":"Github"},"uk":{"language":"uk","value":"GitHub"},"it":{"language":"it","value":"GitHub"},"ar":{"language":"ar","value":"\u063a\u064a\u062a
        \u0647\u0628"},"hu":{"language":"hu","value":"GitHub"},"fi":{"language":"fi","value":"GitHub"},"nb":{"language":"nb","value":"GitHub"},"ca":{"language":"ca","value":"Github"},"ta":{"language":"ta","value":"\u0b9c\u0bbf\u0b9f\u0bcd\u0bb9\u0baa\u0bcd"},"oc":{"language":"oc","value":"GitHub"},"pt-br":{"language":"pt-br","value":"GitHub"},"bg":{"language":"bg","value":"GitHub"},"tr":{"language":"tr","value":"GitHub"},"hi":{"language":"hi","value":"\u0917\u093f\u091f\u0939\u092c"},"cs":{"language":"cs","value":"GitHub"},"ro":{"language":"ro","value":"GitHub"},"he":{"language":"he","value":"GitHub"},"vi":{"language":"vi","value":"GitHub"},"ka":{"language":"ka","value":"GitHub"},"sco":{"language":"sco","value":"GitHub"},"ne":{"language":"ne","value":"\u0917\u093f\u091f\u0939\u092c"},"da":{"language":"da","value":"GitHub"},"fo":{"language":"fo","value":"GitHub"},"is":{"language":"is","value":"GitHub"},"kl":{"language":"kl","value":"GitHub"},"nn":{"language":"nn","value":"GitHub"},"bs":{"language":"bs","value":"GitHub"},"ur":{"language":"ur","value":"\u06af\u0679
        \u06c1\u0628"},"en-ca":{"language":"en-ca","value":"GitHub"},"en-gb":{"language":"en-gb","value":"GitHub"},"eo":{"language":"eo","value":"GitHub"},"tt":{"language":"tt","value":"Github"},"sr":{"language":"sr","value":"GitHub"},"sl":{"language":"sl","value":"GitHub"},"mk":{"language":"mk","value":"GitHub"},"lv":{"language":"lv","value":"GitHub"},"bn":{"language":"bn","value":"\u0997\u09bf\u099f\u09b9\u09be\u09ac"},"ml":{"language":"ml","value":"\u0d17\u0d3f\u0d31\u0d4d\u0d31\u0d4d\u0d39\u0d2c\u0d4d\u0d2c\u0d4d"}},"descriptions":{"en":{"language":"en","value":"web-based
        hosting service for software development projects using Git"},"pl":{"language":"pl","value":"hostingowy
        serwis internetowy przeznaczony dla projekt\u00f3w programistycznych wykorzystuj\u0105cych
        system kontroli wersji Git"},"fr":{"language":"fr","value":"plateforme web
        collaborative"},"de":{"language":"de","value":"webbasierter Hosting-Dienst
        f\u00fcr Software-Entwicklungsprojekte"},"es":{"language":"es","value":"p[...]
