---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=query&format=json&list=search&srsearch=Sid%20Vicious
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"searchinfo":{"totalhits":10},"search":[{"ns":0,"title":"Q47878","snippet":"<span
        class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        \u03a3\u03b9\u03bd\u03c4 \u0392\u03af\u03c3\u03b9\u03bf\u03c5\u03c2 <span
        class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\">Vicious</span>
        <span class=\"searchmatch\">Sid</span> Vicious","size":3185,"wordcount":444,"timestamp":"2014-08-18T23:09:46Z"},{"ns":0,"title":"Q703668","snippet":"<span
        class=\"searchmatch\">Sid</span> Eudy <span class=\"searchmatch\">Sid</span>
        Eudy \u0421\u0438\u0434 \u0412\u0438\u0448\u0435\u0441 \uc2dc\ub4dc \uc720\ub514
        <span class=\"searchmatch\">Sid</span> Eudy <span class=\"searchmatch\">Sid</span>
        <span class=\"searchmatch\">Vicious</span> <span class=\"searchmatch\">Sid</span>
        Eudy <span class=\"searchmatch\">Sid</span> <span class=\"searchmatch\[...]
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q47878%7CQ703668%7CQ12220946%7CQ4296411%7CQ7741381%7CQ8770102%7CQ241669%7CQ3960121%7CQ8999956%7CQ8743436&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q47878":{"pageid":49930,"ns":0,"title":"Q47878","lastrevid":151549910,"modified":"2014-08-18T23:09:46Z","id":"Q47878","type":"item","aliases":{"zh":[{"language":"zh","value":"Sid
        Vicious"},{"language":"zh","value":"\u5e2d\u5fb7\u00b7\u7dad\u745f\u65af"}],"es":[{"language":"es","value":"John
        Simon Ritchie-Beverly"},{"language":"es","value":"John Simon Ritchie"},{"language":"es","value":"John
        Simon Ritchie Beverly"}],"hu":[{"language":"hu","value":"John Ritchie"}],"el":[{"language":"el","value":"Sid
        Vicious"}],"nl":[{"language":"nl","value":"John Ritchie"}],"sv":[{"language":"sv","value":"Vicious"},{"language":"sv","value":"John
        Beverly"}],"pt":[{"language":"pt","value":"Sid Vicius"},{"language":"pt","value":"John
        simon ritchie-beverly"}],"ru":[{"language":"ru","value":"\u0412\u0438\u0448\u0435\u0441,
        \u0421\u0438\u0434"},{"language":"ru","value":"\u0420\u0438\u0447\u0447\u0438,
        \u0414\u0436\u043e\u043d \u0421\u0430\u0439\u043c\u043e\u043d"},{"language":"ru","value":"\u0412\u0438\u0448\u0435\u0437,
        \u0421\u0438\u0434"},{"language":"ru","value":"\u0414\u0436\u043e\u043d \u0421\u0430\u0439\u043c\u043e\u043d
        \u0420\u0438\u0447\u0438"},{"language":"ru","value":"\u0414\u0436\u043e\u043d
        \u0420\u0438\[...]
