---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=query&format=json&list=search&srlimit=10&sroffset=0&srsearch=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Mediawiki-Api-Error:
      - srnosearch
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"servedby":"mw1201","error":{"code":"srnosearch","info":"The search
        parameter must be set"}}'
  recorded_at: Mon, 29 Sep 2014 09:07:27 GMT
recorded_with: VCR 2.9.3
