---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=query&format=json&list=search&srlimit=10&sroffset=0&srsearch=Michael%20Jackson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"query-continue":{"search":{"sroffset":10}},"query":{"searchinfo":{"totalhits":416},"search":[{"ns":0,"title":"Q2831","snippet":"<span
        class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        \u121b\u12ed\u12ad\u120d \u1303\u12ad\u1230\u1295 <span class=\"searchmatch\">Michael</span>
        <span class=\"searchmatch\">Jackson</span> \u0645\u0627\u064a\u0643\u0644
        \u062c\u0627\u0643\u0633\u0648\u0646","size":8234,"wordcount":890,"timestamp":"2014-09-18T07:35:04Z"},{"ns":0,"title":"Q167877","snippet":"<span
        class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        \u041c\u0430\u0439\u043a\u044a\u043b \u0414\u0436\u0430\u043a\u0441\u044a\u043d
        <span class=\"searchmatch\">Michael</span> <span class=\"sear[...]
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q2831%7CQ167877%7CQ507175%7CQ956149%7CQ25158%7CQ1308224%7CQ7244161%7CQ756785%7CQ1638445%7CQ44376&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q2831":{"pageid":3813,"ns":0,"title":"Q2831","lastrevid":158157277,"modified":"2014-09-18T07:35:04Z","id":"Q2831","type":"item","aliases":{"de":[{"language":"de","value":"King
        of Pop"},{"language":"de","value":"MJ"},{"language":"de","value":"Jacko"}],"it":[{"language":"it","value":"Re
        del Pop"},{"language":"it","value":"Michael Joseph Jackson"},{"language":"it","value":"Jacko"},{"language":"it","value":"Michael
        Joe Jackson"},{"language":"it","value":"Michael J. Jackson"}],"en":[{"language":"en","value":"MJ"},{"language":"en","value":"King
        of Pop"},{"language":"en","value":"Michael Joseph Jackson"}],"pl":[{"language":"pl","value":"Kr\u00f3l
        Popu"}],"ru":[{"language":"ru","value":"\u0414\u0436\u0435\u043a\u0441\u043e\u043d,
        \u041c\u0430\u0439\u043a\u043b"}],"nl":[{"language":"nl","value":"Michael
        Joseph Jackson"},{"language":"nl","value":"The King of Pop"}],"zh":[{"language":"zh","value":"\u8fc8\u514b\u5c14\u6770\u514b\u900a"}]},"labels":{"en":{"language":"en","value":"Michael
        Jackson"},"fr":{"language":"fr","value":"Michael Jackson"},"eo":{"language":"eo","value":"Michael
        Jackson"},"de":{"language":"de","value":"Michael Jackson"},"en-ca":{"language":"en-ca","value":"Michael
        Jackson"},"en-gb":{"language":"en-gb","value":"Michael Jackson"},"af":{"language":"af","value":"Michael
        Jackson"},"am":{"language":"am","value":"\u121b\u12ed\u12ad\u120d \u1303\u12ad\u1230\u1295"},"an":{"language":"an","value":"Michael
        Jackson"},"ar":{"language":"ar","value":"\u0645\u0627\u064a\u0643\u0644 \u062c\u0627\u0643\u0633\u0648\u0646"},"arz":{"language":"arz","value":"\u0645\u0627\u064a\u0643\u0644
        \u0686\u0627\u0643\u0633\u0648\u0646"},"az":{"language":"az","value":"Maykl
        Cekson"},"bar":{"language":"bar","value":"Michael Jackson"},"bcl":{"language":"bcl","value":"Michael
        Jackson"},"be":{"language":"be","value":"\u041c\u0430\u0439\u043a\u043b \u0414\u0436\u044d\u043a\u0441\u0430\u043d"},"bg":{"language":"bg","value":"\u041c\u0430\u0439\u043a\u044a\u043b
        \u0414\u0436\u0430\u043a\u0441\u044a\u043d"},"bn":{"language":"bn","value":"\u09ae\u09be\u0987\u0995\u09c7\u09b2
        \u099c\u09cd\u09af\u09be\u0995\u09b8\u09a8"},"bo":{"language":"bo","value":"\u0f58\u0f60\u0f7a\u0f0b\u0f41\u0f7c\u0f60\u0f7c\u0f0b\u0f45\u0f66\u0f0b\u0f41\u0f0b\u0f64\u0f74\u0f53\u0f0d"},"br":{"language":"br","value":"Michael
        Jackson"},"bs":{"language":"bs","value":"Michael Jackson"},"ca":{"language":"ca","value":"Michael
        Jackson"},"cbk-zam":{"language":"cbk-zam","value":"Michael Jackson"},"ceb":{"language":"ceb","value":"Michael
        Jackson"},"ckb":{"language":"ckb","value":"\u0645\u0627\u06cc\u06a9\u06b5
        \u062c\u0627\u06a9\u0633\u0646"},"co":{"language":"co","value":"Michael Jackson"},"cs":{"language":"cs","value":"Michael
        Jackson"},"cy":{"language":"cy","value":"Michael Jackson"},"da":{"language":"da","value":"Michael
        Jackson"},"diq":{"language":"diq","value":"Michael Jackson"},"el":{"language":"el","value":"\u039c\u03ac\u03b9\u03ba\u03bb
        \u03a4\u03b6\u03ac\u03ba\u03c3\u03bf\u03bd"},"eml":{"language":"eml","value":"Michael
        Jackson"},"es":{"language":"es","value":"Michael Jackson"},"et":{"language":"et","value":"Michael
        Jackson"},"eu":{"language":"eu","value":"Michael Jackson"},"fa":{"language":"fa","value":"\u0645\u0627\u06cc\u06a9\u0644
        \u062c\u06a9\u0633\u0648\u0646"},"fi":{"language":"fi","value":"Michael Jackson"},"fo":{"language":"fo","value":"Michael
        Jackson"},"fy":{"language":"fy","value":"Michael Jackson"},"ga":{"language":"ga","value":"Michael
        Jackson"},"gan":{"language":"gan","value":"\u9ea5\u53ef\u00b7\u5091\u514b\u905c"},"gl":{"language":"gl","value":"Michael
        Jackson"},"glk":{"language":"glk","value":"\u0645\u0627\u06cc\u06a9\u0644
        \u062c\u06a9\u0633\u0648\u0646"},"gu":{"language":"gu","value":"\u0aae\u0abe\u0a87\u0a95\u0ab2
        \u0a9c\u0ac7\u0a95\u0ab8\u0aa8"},"gv":{"language":"gv","value":"Michael Jackson"},"hak":{"language":"hak","value":"Michael
        Jackson"},"he":{"language":"he","value":"\u05de\u05d9\u05d9\u05e7\u05dc \u05d2''\u05e7\u05e1\u05d5\u05df"},"hi":{"language":"hi","value":"\u092e\u093e\u0907\u0915\u0932
        \u091c\u0948\u0915\u094d\u0938\u0928"},"hr":{"language":"hr","value":"Michael
        Jackson"},"hsb":{"language":"hsb","value":"Michael Jackson"},"ht":{"language":"ht","value":"Michael
        Jackson"},"hu":{"language":"hu","value":"Michael Jackson"},"hy":{"language":"hy","value":"\u0544\u0561\u0575\u0584\u056c
        \u054b\u0565\u0584\u057d\u0578\u0576"},"ia":{"language":"ia","value":"Michael
        Jackson"},"id":{"language":"id","value":"Michael Jackson"},"ie":{"language":"ie","value":"Michael
        Jackson"},"ilo":{"language":"ilo","value":"Michael Jackson"},"io":{"language":"io","value":"Michael
        Jackson"},"is":{"language":"is","value":"Michael Jackson"},"it":{"language":"it","value":"Michael
        Jackson"},"ja":{"language":"ja","value":"\u30de\u30a4\u30b1\u30eb\u30fb\u30b8\u30e3\u30af\u30bd\u30f3"},"jv":{"language":"jv","value":"Michael
        Jackson"},"ka":{"language":"ka","value":"\u10db\u10d0\u10d8\u10d9\u10da \u10ef\u10d4\u10e5\u10e1\u10dd\u10dc\u10d8"},"kaa":{"language":"kaa","value":"Michael
        Jackson"},"kk":{"language":"kk","value":"\u041c\u0430\u0439\u043a\u043b \u0414\u0436\u0435\u043a\u0441\u043e\u043d"},"kn":{"language":"kn","value":"\u0cae\u0cc8\u0c96\u0cc7\u0cb2\u0ccd
        \u0c9c\u0ccd\u0caf\u0cbe\u0c95\u0ccd\u0cb8\u0ca8\u0ccd"},"ko":{"language":"ko","value":"\ub9c8\uc774\ud074
        \uc7ad\uc2a8"},"ku":{"language":"ku","value":"Michael Jackson"},"kv":{"language":"kv","value":"\u0414\u0436\u0435\u043a\u0441\u043e\u043d
        \u041c\u0430\u0439\u043a\u043b \u0414\u0436\u043e\u0437\u0435\u0444"},"la":{"language":"la","value":"Michael
        Jackson"},"lad":{"language":"lad","value":"Michael Jackson"},"lb":{"language":"lb","value":"Michael
        Jackson"},"li":{"language":"li","value":"Michael Jackson"},"lmo":{"language":"lmo","value":"Michael
        Jackson"},"lt":{"language":"lt","value":"Michael Jackson"},"lv":{"language":"lv","value":"Maikls
        D\u017eeksons"},"mg":{"language":"mg","value":"Michael Jackson"},"mhr":{"language":"mhr","value":"\u0414\u0436\u0435\u043a\u0441\u043e\u043d,
        \u041c\u0430\u0439\u043a\u043b"},"mk":{"language":"mk","value":"\u041c\u0430\u0458\u043a\u043b
        \u040f\u0435\u043a\u0441\u043e\u043d"},"ml":{"language":"ml","value":"\u0d2e\u0d48\u0d15\u0d4d\u0d15\u0d4d\u200c\u0d7e
        \u0d1c\u0d3e\u0d15\u0d4d\u0d38\u0d7a"},"mn":{"language":"mn","value":"\u041c\u0430\u0439\u043a\u043b
        \u0416\u044d\u043a\u0441\u043e\u043d"},"mr":{"language":"mr","value":"\u092e\u093e\u092f\u0915\u0947\u0932
        \u091c\u0945\u0915\u094d\u0938\u0928"},"ms":{"language":"ms","value":"Michael
        Jackson"},"mt":{"language":"mt","value":"Michael Jackson"},"my":{"language":"my","value":"\u1019\u102d\u102f\u1000\u103a\u1000\u101a\u103a\u101c\u103a
        \u1002\u103b\u1000\u103a\u1006\u1004\u103a"},"mzn":{"language":"mzn","value":"\u0645\u0627\u06cc\u06a9\u0644
        \u062c\u06a9\u0633\u0648\u0646"},"nah":{"language":"nah","value":"Michael
        Jackson"},"nds":{"language":"nds","value":"Michael Jackson"},"nds-nl":{"language":"nds-nl","value":"Michael
        Jackson"},"ne":{"language":"ne","value":"\u092e\u093e\u0907\u0915\u0932 \u091c\u094d\u092f\u093e\u0915\u094d\u0938\u0928"},"new":{"language":"new","value":"\u092e\u093e\u0907\u0915\u0932
        \u091c\u094d\u092f\u093e\u0915\u094d\u0938\u0928"},"nl":{"language":"nl","value":"Michael
        Jackson"},"nn":{"language":"nn","value":"Michael Jackson"},"nov":{"language":"nov","value":"Michael
        Jackson"},"oc":{"language":"oc","value":"Michael Jackson"},"pag":{"language":"pag","value":"Michael
        Jackson"},"pap":{"language":"pap","value":"Michael Jackson"},"pl":{"language":"pl","value":"Michael
        Jackson"},"pms":{"language":"pms","value":"Michael Jackson"},"pnb":{"language":"pnb","value":"\u0645\u0627\u0626\u06cc\u06a9\u0644
        \u062c\u06cc\u06a9\u0633\u0646"},"ps":{"language":"ps","value":"\u0645\u0627\u064a\u06a9\u0644
        \u062c\u06d0\u06a9\u0633\u0646"},"pt":{"language":"pt","value":"Michael Jackson"},"qu":{"language":"qu","value":"Michael
        Jackson"},"ro":{"language":"ro","value":"Michael Jackson"},"ru":{"language":"ru","value":"\u041c\u0430\u0439\u043a\u043b
        \u0414\u0436\u0435\u043a\u0441\u043e\u043d"},"rw":{"language":"rw","value":"Michael
        Jackson"},"sah":{"language":"sah","value":"\u041c\u0430\u0439\u043a\u043b
        \u0414\u0436\u0435\u043a\u0441\u043e\u043d"},"scn":{"language":"scn","value":"Michael
        Jackson"},"sco":{"language":"sco","value":"Michael Jackson"},"se":{"language":"se","value":"Michael
        Jackson"},"sh":{"language":"sh","value":"Michael Jackson"},"si":{"language":"si","value":"\u0db8\u0dba\u0dd2\u0d9a\u0dbd\u0dca
        \u0da2\u0dd0\u0d9a\u0dca\u0dc3\u0db1\u0dca"},"sk":{"language":"sk","value":"Michael
        Jackson"},"sl":{"language":"sl","value":"Michael Jackson"},"so":{"language":"so","value":"Michael
        Jackson"},"sq":{"language":"sq","value":"Michael Jackson"},"sr":{"language":"sr","value":"\u041c\u0430\u0458\u043a\u043b
        \u040f\u0435\u043a\u0441\u043e\u043d"},"su":{"language":"su","value":"Michael
        Jackson"},"sv":{"language":"sv","value":"Michael Jackson"},"sw":{"language":"sw","value":"Michael
        Jackson"},"szl":{"language":"szl","value":"Michael Jackson"},"ta":{"language":"ta","value":"\u0bae\u0bc8\u0b95\u0bcd\u0b95\u0bb2\u0bcd
        \u0b9c\u0bbe\u0b95\u0bcd\u0b9a\u0ba9\u0bcd"},"te":{"language":"te","value":"\u0c2e\u0c48\u0c15\u0c32\u0c4d
        \u0c1c\u0c3e\u0c15\u0c4d\u0c38\u0c28\u0c4d"},"tg":{"language":"tg","value":"\u041c\u0430\u0439\u043a\u043b
        \u04b6\u0435\u043a\u0441\u043e\u043d"},"th":{"language":"th","value":"\u0e44\u0e21\u0e40\u0e04\u0e34\u0e25
        \u0e41\u0e08\u0e47\u0e01\u0e2a\u0e31\u0e19"},"tl":{"language":"tl","value":"Michael
        Jackson"},"tpi":{"language":"tpi","value":"Michael Jackson"},"tr":{"language":"tr","value":"Michael
        Jackson"},"tt":{"language":"tt","value":"\u041c\u0430\u0439\u043a\u043b \u0414\u0436\u0435\u043a\u0441\u043e\u043d"},"ug":{"language":"ug","value":"\u0645\u0627\u064a\u0643\u06d0\u0644
        \u062c\u06d0\u0643\u0633\u06c7\u0646"},"uk":{"language":"uk","value":"\u041c\u0430\u0439\u043a\u043b
        \u0414\u0436\u0435\u043a\u0441\u043e\u043d"},"ur":{"language":"ur","value":"\u0645\u0627\u0626\u06cc\u06a9\u0644
        \u062c\u06cc\u06a9\u0633\u0646"},"uz":{"language":"uz","value":"Michael Jackson"},"vi":{"language":"vi","value":"Michael
        Jackson"},"vls":{"language":"vls","value":"Michael Jackson"},"war":{"language":"war","value":"Michael
        Jackson"},"wuu":{"language":"wuu","value":"\u7c73\u53e3 \u79ef\u514b\u68ee"},"xmf":{"language":"xmf","value":"\u10db\u10d0\u10d8\u10d9\u10da
        \u10ef\u10d4\u10e5\u10e1\u10dd\u10dc\u10d8"},"yi":{"language":"yi","value":"\u05de\u05d9\u05d9\u05e7\u05dc
        \u05d6\u05e9\u05e2\u05e7\u05e1\u05d0\u05df"},"yo":{"language":"yo","value":"Michael
        Jackson"},"zh":{"language":"zh","value":"\u8fc8\u514b\u5c14\u00b7\u6770\u514b\u900a"},"zh-cn":{"language":"zh-cn","value":"\u8fc8\u514b\u5c14\u00b7\u6770\u514b\u900a"},"zh-hans":{"language":"zh-hans","value":"\u8fc8\u514b\u5c14\u00b7\u6770\u514b\u900a"},"zh-hant":{"language":"zh-hant","value":"\u8fc8\u514b\u5c14\u00b7\u6770\u514b\u900a"},"zu":{"language":"zu","value":"Michael
        Jackson"},"nb":{"language":"nb","value":"Michael Jackson"},"de-ch":{"language":"de-ch","value":"Michael
        Jackson"},"pt-br":{"language":"pt-br","value":"Michael Jackson"},"yue":{"language":"yue","value":"\u7c73\u9ad8\u7a4d\u81e3"},"ace":{"language":"ace","value":"Michael
        Jackson"},"kab":{"language":"kab","value":"Michael Jackson"},"sc":{"language":"sc","value":"Michael
        Jackson"},"lo":{"language":"lo","value":"\u0ec4\u0ea1\u0ec0\u0e84\u0eb4\u0ec9\u0e99
        \u0ec1\u0e88\u0eb1\u0e81\u0e8a\u0eb1\u0ec9\u0e99"},"wo":{"language":"wo","value":"Michael
        Jackson"},"wa":{"language":"wa","value":"Michael Jackson"},"dsb":{"language":"dsb","value":"Michael
        Jackson"},"gsw":{"language":"gsw","value":"Michael Jackson"},"sgs":{"language":"sgs","value":"Maiklos
        D\u017eeksuons"},"nan":{"language":"nan","value":"Michael Jackson"},"be-tarask":{"language":"be-tarask","value":"\u041c\u0430\u0439\u043a\u043b
        \u0414\u0436\u044d\u043a\u0441\u0430\u043d"},"rup":{"language":"rup","value":"Michael
        Jackson"},"ast":{"language":"ast","value":"Michael Jackson"},"ig":{"language":"ig","value":"Michael
        Jackson"},"kw":{"language":"kw","value":"Michael Jackson"},"ln":{"language":"ln","value":"Michael
        Jackson"},"nap":{"language":"nap","value":"Michael Jackson"},"na":{"language":"na","value":"Michael
        Jackson"},"pa":{"language":"pa","value":"\u0a2e\u0a3e\u0a08\u0a15\u0a32 \u0a1c\u0a48\u0a15\u0a38\u0a28"},"pcd":{"language":"pcd","value":"Michael
        Jackson"},"zea":{"language":"zea","value":"Michael Jackson"},"vec":{"language":"vec","value":"Michael
        Jackson"},"xh":{"language":"xh","value":"UMichael Joseph Jackson"},"vo":{"language":"vo","value":"Michael
        Jackson"}},"descriptions":{"en":{"language":"en","value":"American singer
        and dancer"},"fr":{"language":"fr","value":"auteur-compositeur-interpr\u00e8te
        et danseur am\u00e9ricain"},"eo":{"language":"eo","value":"Usona pop-muzikisto,
        spektaklisto kaj dancisto (1958-2009)"},"de":{"language":"de","value":"US-amerikanischer
        S\u00e4nger"},"it":{"language":"it","value":"cantante statunitense"},"pl":{"language":"pl","value":"ameryka\u0144ski
        muzyk, kompozytor i autor tekst\u00f3w"},"es":{[...]
