---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=query&format=json&list=search&srlimit=10&sroffset=0&srsearch=Michael%20Jackson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"query-continue":{"search":{"sroffset":10}},"query":{"searchinfo":{"totalhits":416},"search":[{"ns":0,"title":"Q2831","snippet":"<span
        class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        \u121b\u12ed\u12ad\u120d \u1303\u12ad\u1230\u1295 <span class=\"searchmatch\">Michael</span>
        <span class=\"searchmatch\">Jackson</span> \u0645\u0627\u064a\u0643\u0644
        \u062c\u0627\u0643\u0633\u0648\u0646","size":8234,"wordcount":890,"timestamp":"2014-09-18T07:35:04Z"},{"ns":0,"title":"Q167877","snippet":"<span
        class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        <span class=\"searchmatch\">Michael</span> <span class=\"searchmatch\">Jackson</span>
        \u041c\u0430\u0439\u043a\u044a\u043b \u0414\u0436\u0430\u043a\u0441\u044a\u043d
        <span class=\"searchmatch\">Michael</span> <span class=\"sear[...]
