---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=query&format=json&list=search&srlimit=10&sroffset=0&srsearch=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Mediawiki-Api-Error:
      - srnosearch
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"servedby":"mw1201","error":{"code":"srnosearch","info":"The search
        parameter must be set"}}'
  recorded_at: Mon, 29 Sep 2014 09:07:27 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=query&format=json&list=search&srlimit=10&sroffset=0&srsearch=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - srnosearch
      Backend-Timing:
      - D=56620 t=1457791387938922
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 2a01:e35:8a88:3e50:786:71f9:a797:9048
    body:
      encoding: UTF-8
      string: '{"servedby":"mw1136","error":{"code":"srnosearch","info":"The search
        parameter must be set","*":"See https://www.wikidata.org/w/api.php for API
        usage"}}'
  recorded_at: Sat, 12 Mar 2016 14:03:08 GMT
recorded_with: VCR 2.9.3
