---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&sites=enwiki&titles=GitHub
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=51736 t=1508914872269965
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 88.168.131.229
    body:
      encoding: UTF-8
      string: '{"entities":{"Q364":{"pageid":561,"ns":0,"title":"Q364","lastrevid":579748436,"modified":"2017-10-17T17:51:13Z","type":"item","id":"Q364","labels":{"en":{"language":"en","value":"GitHub"},"pl":{"language":"pl","value":"GitHub"},"fr":{"language":"fr","value":"GitHub"},"de":{"language":"de","value":"GitHub"},"zh":{"language":"zh","value":"GitHub"},"es":{"language":"es","value":"GitHub"},"fa":{"language":"fa","value":"\u06af\u06cc\u062a\u200c\u0647\u0627\u0628"},"id":{"language":"id","value":"GitHub"},"ja":{"language":"ja","value":"GitHub"},"ko":{"language":"ko","value":"\uae43\ud5c8\ube0c"},"nl":{"language":"nl","value":"GitHub"},"pt":{"language":"pt","value":"GitHub"},"ru":{"language":"ru","value":"GitHub"},"sv":{"language":"sv","value":"Github"},"uk":{"language":"uk","value":"GitHub"},"it":{"language":"it","value":"GitHub"},"ar":{"language":"ar","value":"\u063a\u064a\u062a
        \u0647\u0628"},"hu":{"language":"hu","value":"GitHub"},"fi":{"language":"fi","value":"GitHub"},"nb":{"language":"nb","value":"GitHub"},"ca":{"language":"ca","value":"Github"},"ta":{"language":"ta","value":"\u0b9c\u0bbf\u0b9f\u0bcd\u0bb9\u0baa\u0bcd"},"oc":{"language":"oc","value":"GitHub"},"pt-br":{"language":"pt-br","value":"GitHub"},"bg":{"language":"bg","value":"GitHub"},"tr":{"language":"tr","value":"GitHub"},"hi":{"language":"hi","value":"\u0917\u093f\u091f\u0939\u092c"},"cs":{"language":"cs","value":"GitHub"},"ro":{"language":"ro","value":"GitHub"},"he":{"language":"he","value":"GitHub"},"vi":{"language":"vi","value":"GitHub"},"ka":{"language":"ka","value":"GitHub"},"sco":{"language":"sco","value":"GitHub"},"ne":{"language":"ne","value":"\u0917\u093f\u091f\u0939\u092c"},"da":{"language":"da","value":"GitHub"},"fo":{"language":"fo","value":"GitHub"},"is":{"language":"is","value":"GitHub"},"kl":{"language":"kl","value":"GitHub"},"nn":{"language":"nn","value":"GitHub"},"bs":{"language":"bs","value":"GitHub"},"ur":{"language":"ur","value":"\u06af\u0679
        \u06c1\u0628"},"en-ca":{"language":"en-ca","value":"GitHub"},"en-gb":{"language":"en-gb","value":"GitHub"},"eo":{"language":"eo","value":"GitHub"},"tt":{"language":"tt","value":"Github"},"sr":{"language":"sr","value":"GitHub"},"sl":{"language":"sl","value":"GitHub"},"mk":{"language":"mk","value":"GitHub"},"lv":{"language":"lv","value":"GitHub"},"bn":{"language":"bn","value":"\u0997\u09bf\u099f\u09b9\u09be\u09ac"},"ml":{"language":"ml","value":"\u0d17\u0d3f\u0d31\u0d4d\u0d31\u0d4d\u0d39\u0d2c\u0d4d\u0d2c\u0d4d"}},"descriptions":{"en":{"language":"en","value":"web-based
        hosting service for software development projects using Git"},"pl":{"language":"pl","value":"hostingowy
        serwis internetowy przeznaczony dla projekt\u00f3w programistycznych wykorzystuj\u0105cych
        system kontroli wersji Git"},"fr":{"language":"fr","value":"plateforme web
        collaborative"},"de":{"language":"de","value":"webbasierter Hosting-Dienst
        f\u00fcr Software-Entwicklungsprojekte"},"es":{"language":"es","value":"p[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=P31&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=121982 t=1508914873106105
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 88.168.131.229
    body:
      encoding: UTF-8
      string: '{"entities":{"P31":{"pageid":3918489,"ns":120,"title":"Property:P31","lastrevid":577151676,"modified":"2017-10-14T10:07:28Z","type":"property","datatype":"wikibase-item","id":"P31","labels":{"en":{"language":"en","value":"instance
        of"},"fr":{"language":"fr","value":"nature de l''\u00e9l\u00e9ment"},"de":{"language":"de","value":"ist
        ein(e)"},"it":{"language":"it","value":"istanza di"},"pt-br":{"language":"pt-br","value":"inst\u00e2ncia
        de"},"eo":{"language":"eo","value":"estas"},"he":{"language":"he","value":"\u05d4\u05d5\u05d0"},"es":{"language":"es","value":"instancia
        de"},"fi":{"language":"fi","value":"esiintym\u00e4 kohteesta"},"hu":{"language":"hu","value":"ez
        egy"},"ru":{"language":"ru","value":"\u044d\u0442\u043e \u0447\u0430\u0441\u0442\u043d\u044b\u0439
        \u0441\u043b\u0443\u0447\u0430\u0439 \u043f\u043e\u043d\u044f\u0442\u0438\u044f"},"hr":{"language":"hr","value":"je"},"nl":{"language":"nl","value":"is
        een"},"el":{"language":"el","value":"\u03b5\u03af\u03bd\u03b1\u03b9"},"pl":{"language":"pl","value":"jest
        to"},"sr":{"language":"sr","value":"\u0458\u0435"},"ca":{"language":"ca","value":"inst\u00e0ncia
        de"},"cs":{"language":"cs","value":"instance (\u010deho)"},"nb":{"language":"nb","value":"forekomst
        av"},"pt":{"language":"pt","value":"inst\u00e2ncia de"},"ilo":{"language":"ilo","value":"pagarigan
        iti"},"sl":{"language":"sl","value":"primerek od"},"be":{"language":"be","value":"\u0433\u044d\u0442\u0430"},"ko":{"language":"ko","value":"\ub2e4\uc74c
        \uc885\ub958\uc5d0 \uc18d\ud568"},"nn":{"language":"nn","value":"f\u00f8rekomst
        av"},"vi":{"language":"vi","value":"l\u00e0 m\u1ed9t"},"be-tarask":{"language":"be-tarask","value":"\u0430\u0441\u043e\u0431\u043d\u044b
        \u0432\u044b\u043f\u0430\u0434\u0430\u043a \u043f\u0430\u043d\u044f\u0442\u043a\u0443"},"bs":{"language":"bs","value":"je"},"th":{"language":"th","value":"\u0e40\u0e1b\u0e47\u0e19"},"uk":{"language":"uk","value":"\u0454
        \u043e\u0434\u043d\u0438\u043c \u0456\u0437"},"en-gb":{"language":"en-gb","value":"instance
        of"},"en-ca":{"language":"en-ca","value":"instance of"},"ja":{"language":"ja","value":"\u5206\u985e"},"uz":{"language":"uz","value":"bu"},"lv":{"language":"lv","value":"ir"},"la":{"language":"la","value":"est"},"fa":{"language":"fa","value":"\u06cc\u06a9
        \u0646\u0645\u0648\u0646\u0647 \u0627\u0632"},"sv":{"language":"sv","value":"instans
        av"},"nds":{"language":"nds","value":"is en"},"ro":{"language":"ro","value":"este
        un/o"},"ta":{"language":"ta","value":"\u0bb5\u0b95\u0bc8"},"min":{"language":"min","value":"adolah"},"id":{"language":"id","value":"adalah"},"gl":{"language":"gl","value":"\u00e9
        un/unha"},"is":{"language":"is","value":"er"},"af":{"language":"af","value":"is
        ''n"},"ka":{"language":"ka","value":"\u10d0\u10e0\u10d8\u10e1"},"de-at":{"language":"de-at","value":"ist
        eine Instanz von"},"da":{"language":"da","value":"tilf\u00e6lde af"},"sco":{"language":"sco","value":"instance
        o"},"sk":{"language":"sk","value":"je"},"de-ch":{"language":"de-ch","value":"ist
        eine Instanz von"},"bar":{"language":"bar","value":"is a Instanz vo"},"bn":{"language":"bn","value":"\u09a8\u09bf\u09a6\u09b0\u09cd\u09b6\u09a8"},"lmo":{"language":"lmo","value":"l''\u00e8
        un(a)"},"nds-nl":{"language":"nds-nl","value":"is n"},"sh":{"language":"sh","value":"je(su)"},"br":{"language":"br","value":"doare
        an elfenn"},"bg":{"language":"bg","value":"\u0438\u043d\u0441\u0442\u0430\u043d\u0446\u0438\u044f
        \u043d\u0430"},"mr":{"language":"mr","value":"\u092a\u094d\u0930\u0915\u093e\u0930"},"ckb":{"language":"ckb","value":"\u0646\u0645\u0648\u0648\u0646\u06d5\u06cc\u06d5\u06a9
        \u0644\u06d5"},"ar":{"language":"ar","value":"\u062d\u0627\u0644\u0629 \u062e\u0627\u0635\u0629
        \u0645\u0646"},"et":{"language":"et","value":"\u00fcksikjuht n\u00e4htusest"},"pcd":{"language":"pcd","value":"est
        un"},"tr":{"language":"tr","value":"nedir"},"hi":{"language":"hi","value":"\u0909\u0926\u0939\u093e\u0930\u0923
        \u0939\u0948"},"sr-ec":{"language":"sr-ec","value":"\u0458\u0435"},"co":{"language":"co","value":"istanza
        di"},"oc":{"language":"oc","value":"natura de l''element"},"mk":{"language":"mk","value":"\u0435"},"yi":{"language":"yi","value":"\u05e4\u05bf\u05d0\u05b7\u05dc"},"zh":{"language":"zh","value":"\u6027\u8cea"},"jbo":{"language":"jbo","value":"serese
        mupli"},"gu":{"language":"gu","value":"\u0a89\u0aa6\u0abe\u0ab9\u0ab0\u0aa3"},"ms":{"language":"ms","value":"contoh"},"tl":{"language":"tl","value":"ay
        halimbawa ng"},"rm":{"language":"rm","value":"\u00e8 in(a)"},"ksh":{"language":"ksh","value":"es
        e Beischpell f\u00f6r e(n(e))"},"lb":{"language":"lb","value":"ass eng/e(e)(n)"},"csb":{"language":"csb","value":"to
        je"},"ts":{"language":"ts","value":"Nchumu"},"gsw":{"language":"gsw","value":"isch
        e"},"mzn":{"language":"mzn","value":"\u062f\u0650\u0644\u0650\u0648\u0633"},"te":{"language":"te","value":"\u0c26\u0c40\u0c28\u0c3f\u0c2f\u0c4a\u0c15\u0c4d\u0c15
        \u0c12\u0c15 \u0c05\u0c35\u0c24\u0c3e\u0c30\u0c02"},"or":{"language":"or","value":"\u0b26\u0b43\u0b37\u0b4d\u0b1f\u0b3e\u0b28\u0b4d\u0b24"},"sr-el":{"language":"sr-el","value":"je"},"stq":{"language":"stq","value":"is
        n(e)"},"ia":{"language":"ia","value":"instantia de"},"nap":{"language":"nap","value":"no
        tipo ''e"},"yue":{"language":"yue","value":"\u4fc2\u4e00\u500b"},"mg":{"language":"mg","value":"karazana"},"scn":{"language":"scn","value":"esimplari
        di"},"eu":{"language":"eu","value":"honako hau da"},"fy":{"language":"fy","value":"is
        in"},"ml":{"language":"ml","value":"\u0d2a\u0d4d\u0d30\u0d24\u0d4d\u0d2f\u0d47\u0d15\u0d2e\u0d3e\u0d2f
        \u0d09\u0d26\u0d3e\u0d39\u0d30\u0d23\u0d02"},"tt":{"language":"tt","value":"\u0442\u04e9\u0448\u0435\u043d\u0447\u04d9\u043d\u0435\u04a3
        \u0430\u0435\u0440\u044b\u043c \u043e\u0447\u0440\u0430\u0433\u044b"},"ce":{"language":"ce","value":"\u0445\u04c0\u0430\u0440\u0430
        \u0434\u043e\u043b\u0430\u0440\u0430 \u043a\u0445\u0435\u0442\u0430\u043c
        \u0431\u0443"},"ne":{"language":"ne","value":"\u0909\u0926\u093e\u0939\u0930\u0923"},"ast":{"language":"ast","value":"instancia
        de"},"cy":{"language":"cy","value":"enghraifft o''r canlynol"},"lt":{"language":"lt","value":"yra"},"hy":{"language":"hy","value":"\u0570\u0561\u057d\u056f\u0561\u0581\u0578\u0582\u0569\u0575\u0561\u0576
        \u0574\u0561\u057d\u0576\u0561\u057e\u0578\u0580 \u0564\u0565\u057a\u0584"},"mai":{"language":"mai","value":"\u0909\u0926\u093e\u0939\u0930\u0923"},"frr":{"language":"frr","value":"As
        en"},"fo":{"language":"fo","value":"er eitt"},"kn":{"language":"kn","value":"\u0c89\u0ca6\u0cbe\u0cb9\u0cb0\u0ca3\u0cc6\u0c97\u0cc6"},"ga":{"language":"ga","value":"shampla
        de"},"ht":{"language":"ht","value":"egzanp nan"},"io":{"language":"io","value":"esas"},"vo":{"language":"vo","value":"binon"},"zh-hant":{"language":"zh-hant","value":"\u6027\u8cea"},"zh-hans":{"language":"zh-hans","value":"\u6027\u8d28"},"zh-hk":{"language":"zh-hk","value":"\u6027\u8cea"},"zh-cn":{"language":"zh-cn","value":"\u6027\u8d28"},"zh-mo":{"language":"zh-mo","value":"\u6027\u8cea"},"zh-sg":{"language":"zh-sg","value":"\u6027\u8d28"},"zh-tw":{"language":"zh-tw","value":"\u6027\u8cea"},"pa":{"language":"pa","value":"\u0a28\u0a2e\u0a42\u0a28\u0a3e
        \u0a39\u0a48"},"ku-latn":{"language":"ku-latn","value":"m\u00eenakek ji bo"},"sq":{"language":"sq","value":"instanc\u00eb
        e"},"pam":{"language":"pam","value":"alimbawa ning"},"hsb":{"language":"hsb","value":"je"},"an":{"language":"an","value":"instancia
        de"},"tg":{"language":"tg","value":"\u044f\u043a \u043d\u0430\u043c\u0443\u043d\u0430
        \u0430\u0437"},"ky":{"language":"ky","value":"\u043a\u043b\u0430\u0441\u0441\u044b"},"ba":{"language":"ba","value":"\u0422\u04e9\u0448\u04e9\u043d\u0441\u04d9\u043d\u0435\u04a3
        \u0448\u04d9\u0445\u0441\u04d9\u043d \u043e\u0441\u0440\u0430\u0493\u044b"},"yo":{"language":"yo","value":"\u00e0k\u00f3r\u00ed"},"tcy":{"language":"tcy","value":"\u0c89\u0ca6\u0cbe\u0cb0\u0ccd\u0cae\u0cc6\u0c97\u0ccd"},"tg-cyrl":{"language":"tg-cyrl","value":"\u044f\u043a
        \u043d\u0430\u043c\u0443\u043d\u0430 \u0430\u0437"},"tg-latn":{"language":"tg-latn","value":"yak
        namuna az"},"tt-latn":{"language":"tt-latn","value":"t\u00f6\u015fen\u00e7\u00e4ne\u00f1
        ay\u0131r\u0131m o\u00e7ra\u011f\u0131"},"tt-cyrl":{"language":"tt-cyrl","value":"\u0442\u04e9\u0448\u0435\u043d\u0447\u04d9\u043d\u0435\u04a3
        \u0430\u0435\u0440\u044b\u043c \u043e\u0447\u0440\u0430\u0433\u044b"},"az":{"language":"az","value":"anlay\u0131\u015f\u0131n
        x\u00fcsusi hal\u0131d\u0131r"},"ur":{"language":"ur","value":"\u0645\u062b\u0627\u0644
        \u0628\u06c1"}},"descriptions":{"en":{"language":"en","value":"that class
        of which this subject is a particular example and member. (Subject typically
        an individual member with Proper Name label.) Different from P279 (subclass
        of)"},"it":{"language":"it","value":"questo elemento \u00e8 un''istanza di
        questa clas[...]
