---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&sites=enwiki&titles=James%20Joyce
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=117648 t=1513153833216875
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 2a01:e35:8a88:3e50:786:71f9:a797:9048
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q6882":{"pageid":8015,"ns":0,"title":"Q6882","lastrevid":607329549,"modified":"2017-12-11T23:08:27Z","type":"item","id":"Q6882","labels":{"en":{"language":"en","value":"James
        Joyce"},"it":{"language":"it","value":"James Joyce"},"ilo":{"language":"ilo","value":"James
        Joyce"},"ca":{"language":"ca","value":"James Joyce"},"en-ca":{"language":"en-ca","value":"James
        Joyce"},"en-gb":{"language":"en-gb","value":"James Joyce"},"af":{"language":"af","value":"James
        Joyce"},"an":{"language":"an","value":"James Joyce"},"ar":{"language":"ar","value":"\u062c\u064a\u0645\u0633
        \u062c\u0648\u064a\u0633"},"arz":{"language":"arz","value":"\u062c\u064a\u0645\u0633
        \u062c\u0648\u064a\u0633"},"ast":{"language":"ast","value":"James Joyce"},"az":{"language":"az","value":"Ceyms
        Coys"},"be":{"language":"be","value":"\u0414\u0436\u044d\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"bg":{"language":"bg","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"bn":{"language":"bn","value":"\u099c\u09c7\u09ae\u09b8
        \u099c\u09af\u09bc\u09c7\u09b8"},"br":{"language":"br","value":"James Joyce"},"bs":{"language":"bs","value":"James
        Joyce"},"ckb":{"language":"ckb","value":"\u062c\u06d5\u06cc\u0645\u0632 \u062c\u06c6\u06cc\u0633"},"co":{"language":"co","value":"James
        Joyce"},"cs":{"language":"cs","value":"James Joyce"},"cy":{"language":"cy","value":"James
        Joyce"},"da":{"language":"da","value":"James Joyce"},"de":{"language":"de","value":"James
        Joyce"},"diq":{"language":"diq","value":"James Joyce"},"el":{"language":"el","value":"\u03a4\u03b6\u03ad\u03b9\u03bc\u03c2
        \u03a4\u03b6\u03cc\u03c5\u03c2"},"eo":{"language":"eo","value":"James Joyce"},"es":{"language":"es","value":"James
        Joyce"},"et":{"language":"et","value":"James Joyce"},"eu":{"language":"eu","value":"James
        Joyce"},"ext":{"language":"ext","value":"James Joyce"},"fa":{"language":"fa","value":"\u062c\u06cc\u0645\u0632
        \u062c\u0648\u06cc\u0633"},"fi":{"language":"fi","value":"James Joyce"},"fr":{"language":"fr","value":"James
        Joyce"},"fy":{"language":"fy","value":"James Joyce"},"ga":{"language":"ga","value":"James
        Joyce"},"gan":{"language":"gan","value":"\u8a79\u59c6\u65af\u00b7\u55ac\u4f0a\u65af"},"gl":{"language":"gl","value":"James
        Joyce"},"gv":{"language":"gv","value":"James Joyce"},"he":{"language":"he","value":"\u05d2''\u05d9\u05d9\u05de\u05e1
        \u05d2''\u05d5\u05d9\u05e1"},"hif":{"language":"hif","value":"James Joyce"},"hr":{"language":"hr","value":"James
        Joyce"},"hsb":{"language":"hsb","value":"James Joyce"},"hu":{"language":"hu","value":"James
        Joyce"},"hy":{"language":"hy","value":"\u054b\u0565\u0575\u0574\u057d \u054b\u0578\u0575\u057d"},"ia":{"language":"ia","value":"James
        Joyce"},"id":{"language":"id","value":"James Joyce"},"ie":{"language":"ie","value":"James
        Joyce"},"io":{"language":"io","value":"James Joyce"},"is":{"language":"is","value":"James
        Joyce"},"ja":{"language":"ja","value":"\u30b8\u30a7\u30a4\u30e0\u30ba\u30fb\u30b8\u30e7\u30a4\u30b9"},"ka":{"language":"ka","value":"\u10ef\u10d4\u10d8\u10db\u10d6
        \u10ef\u10dd\u10d8\u10e1\u10d8"},"kaa":{"language":"kaa","value":"James Joyce"},"kk":{"language":"kk","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"ko":{"language":"ko","value":"\uc81c\uc784\uc2a4
        \uc870\uc774\uc2a4"},"la":{"language":"la","value":"Iacobus Joyce"},"lb":{"language":"lb","value":"James
        Joyce"},"lt":{"language":"lt","value":"James Joyce"},"lv":{"language":"lv","value":"D\u017eeimss
        D\u017eoiss"},"mhr":{"language":"mhr","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u043d\u0441"},"mk":{"language":"mk","value":"\u040f\u0435\u0458\u043c\u0441
        \u040f\u043e\u0458\u0441"},"ml":{"language":"ml","value":"\u0d1c\u0d46\u0d2f\u0d3f\u0d02\u0d38\u0d4d
        \u0d1c\u0d4b\u0d2f\u0d4d\u0d38\u0d4d"},"mn":{"language":"mn","value":"\u0416\u0435\u0439\u043c\u0441
        \u0416\u043e\u0439\u0441"},"mr":{"language":"mr","value":"\u091c\u0947\u092e\u094d\u0938
        \u091c\u0949\u0907\u0938"},"ms":{"language":"ms","value":"James Joyce"},"mwl":{"language":"mwl","value":"James
        Joyce"},"my":{"language":"my","value":"\u1002\u103b\u102d\u1019\u103a\u1038\u1002\u103b\u103d\u102d\u102f\u1000\u103a\u1005\u103a"},"new":{"language":"new","value":"\u091c\u0947\u092e\u094d\u0938
        \u091c\u094b\u0907\u0938"},"nl":{"language":"nl","value":"James Joyce"},"nn":{"language":"nn","value":"James
        Joyce"},"oc":{"language":"oc","value":"James Joyce"},"pag":{"language":"pag","value":"James
        Joyce"},"pam":{"language":"pam","value":"James Joyce"},"pl":{"language":"pl","value":"James
        Joyce"},"pms":{"language":"pms","value":"James Joyce"},"pnb":{"language":"pnb","value":"\u062c\u06cc\u0645\u0632
        \u062c\u0648\u0627\u0626\u0633"},"pt":{"language":"pt","value":"James Joyce"},"pt-br":{"language":"pt-br","value":"James
        Joyce"},"qu":{"language":"qu","value":"James Joyce"},"ro":{"language":"ro","value":"James
        Joyce"},"ru":{"language":"ru","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"rue":{"language":"rue","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"sah":{"language":"sah","value":"\u0414\u044c\u044d\u0439\u043c\u0441
        \u0414\u044c\u043e\u0439\u0441"},"scn":{"language":"scn","value":"James Joyce"},"sh":{"language":"sh","value":"James
        Joyce"},"sk":{"language":"sk","value":"James Joyce"},"sl":{"language":"sl","value":"James
        Joyce"},"sq":{"language":"sq","value":"James Joyce"},"sr":{"language":"sr","value":"\u040f\u0435\u0458\u043c\u0441
        \u040f\u043e\u0458\u0441"},"sv":{"language":"sv","value":"James Joyce"},"sw":{"language":"sw","value":"James
        Joyce"},"szl":{"language":"szl","value":"James Joyce"},"ta":{"language":"ta","value":"\u0b9c\u0bc7\u0bae\u0bcd\u0bb8\u0bcd
        \u0b9c\u0bcb\u0baf\u0bcd\u0bb8\u0bcd"},"th":{"language":"th","value":"\u0e40\u0e08\u0e21\u0e2a\u0e4c
        \u0e08\u0e2d\u0e22\u0e0b\u0e4c"},"tk":{"language":"tk","value":"Je\u00fdms
        Jo\u00fds"},"tl":{"language":"tl","value":"James Joyce"},"tr":{"language":"tr","value":"James
        Joyce"},"tt":{"language":"tt","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"ug":{"language":"ug","value":"\u062c\u0627\u0645\u0649\u0633
        \u062c\u0648\u064a\u0649\u0633"},"uk":{"language":"uk","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"ur":{"language":"ur","value":"\u062c\u06cc\u0645\u0632
        \u062c\u0648\u0627\u0626\u0633"},"uz":{"language":"uz","value":"James Joyce"},"vi":{"language":"vi","value":"James
        Joyce"},"vo":{"language":"vo","value":"James Joyce"},"war":{"language":"war","value":"James
        Joyce"},"xmf":{"language":"xmf","value":"\u10ef\u10d4\u10d8\u10db\u10d6 \u10ef\u10dd\u10d8\u10e1\u10d8"},"yi":{"language":"yi","value":"\u05d3\u05d6\u05e9\u05d9\u05d9\u05de\u05e1
        \u05d3\u05d6\u05e9\u05d5\u05d9\u05e1"},"yo":{"language":"yo","value":"James
        Joyce"},"zh":{"language":"zh","value":"\u8a79\u59c6\u65af\u00b7\u4e54\u4f0a\u65af"},"yue":{"language":"yue","value":"James
        Joyce"},"pa":{"language":"pa","value":"\u0a1c\u0a47\u0a2e\u0a1c\u0a3c \u0a1c\u0a4b\u0a06\u0a07\u0a38"},"ba":{"language":"ba","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"min":{"language":"min","value":"James Joyce"},"kbd":{"language":"kbd","value":"\u0414\u0436\u044d\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"ce":{"language":"ce","value":"\u0414\u0436\u043e\u0439\u0441,
        \u0414\u0436\u0435\u0439\u043c\u0441"},"nb":{"language":"nb","value":"James
        Joyce"},"gsw":{"language":"gsw","value":"James Joyce"},"sgs":{"language":"sgs","value":"James
        Joyce"},"nan":{"language":"nan","value":"James Joyce"},"be-tarask":{"language":"be-tarask","value":"\u0414\u0436\u044d\u0439\u043c\u0437
        \u0414\u0436\u043e\u0439\u0441"},"ay":{"language":"ay","value":"James Joyce"},"mg":{"language":"mg","value":"James
        Joyce"},"cv":{"language":"cv","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"fo":{"language":"fo","value":"James Joyce"},"li":{"language":"li","value":"James
        Joyce"},"rup":{"language":"rup","value":"James Joyce"},"bar":{"language":"bar","value":"James
        Joyce"},"kw":{"language":"kw","value":"James Joyce"},"rm":{"language":"rm","value":"James
        Joyce"},"sco":{"language":"sco","value":"James Joyce"},"bxr":{"language":"bxr","value":"\u0414\u0436\u0435\u0439\u043c\u0441
        \u0414\u0436\u043e\u0439\u0441"},"jam":{"language":"jam","value":"James Joyce"},"lmo":{"language":"lmo","value":"James
        Joyce"},"bho":{"language":"bho","value":"\u091c\u0947\u092e\u094d\u0938 \u091c\u0949\u092f\u0938"},"olo":{"language":"olo","value":"James
        Joyce"},"bi":{"language":"bi","value":"James Joyce"},"am":{"language":"am","value":"\u1304\u121d\u1235
        \u1306\u12ed\u1235"},"kbp":{"language":"kbp","value":"James Joyce"}},"descriptions":{"en":{"language":"en","value":"Irish
        novelist and poet"},"it":{"language":"it","value":"scrittore, poeta e drammaturgo
        irlandese"},"ilo":{"language":"ilo","value":"Irlandes a nobelista ken mannaniw"},"de":{"language":"de","value":"irischer
        Schriftsteller"},"es":{"language":"es","value":"escritor irland\u00e9s"},"fr":{"language":"fr","value":"romancier,
        auteur dramatique, po\u00e8te, critique et professeur  irlandais"},"pl":{"language":"pl","value":"irlandzki
    [...]
