---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=THISISNOTAVALIDID&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Mediawiki-Api-Error:
      - no-such-entity
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"servedby":"mw1205","error":{"code":"no-such-entity","info":"Could
        not find such an entity (Invalid id: THISISNOTAVALIDID)","messages":[{"name":"wikibase-api-no-such-entity","parameters":[],"html":{"*":"Could
        not find such an entity"}}]}}'
  recorded_at: Mon, 29 Sep 2014 09:07:24 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=THISISNOTAVALIDID&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - no-such-entity
      Backend-Timing:
      - D=86667 t=1457791383930728
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 2a01:e35:8a88:3e50:786:71f9:a797:9048
    body:
      encoding: UTF-8
      string: '{"servedby":"mw1129","error":{"code":"no-such-entity","info":"Could
        not find such an entity. (Invalid id: THISISNOTAVALIDID)","id":"THISISNOTAVALIDID","messages":[{"name":"wikibase-api-no-such-entity","parameters":[],"html":{"*":"Could
        not find such an entity."}}],"*":"See https://www.wikidata.org/w/api.php for
        API usage"}}'
  recorded_at: Sat, 12 Mar 2016 14:03:04 GMT
recorded_with: VCR 2.9.3
