---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=THISISNOTAVALIDID&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Mediawiki-Api-Error:
      - no-such-entity
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"servedby":"mw1205","error":{"code":"no-such-entity","info":"Could
        not find such an entity (Invalid id: THISISNOTAVALIDID)","messages":[{"name":"wikibase-api-no-such-entity","parameters":[],"html":{"*":"Could
        not find such an entity"}}]}}'
  recorded_at: Mon, 29 Sep 2014 09:07:24 GMT
recorded_with: VCR 2.9.3
