---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"success":1}'
  recorded_at: Fri, 26 Sep 2014 13:07:43 GMT
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=query&format=json&list=search&srsearch=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Mediawiki-Api-Error:
      - srnosearch
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: ASCII-8BIT
      string: '{"servedby":"mw1208","error":{"code":"srnosearch","info":"The search
        parameter must be set"}}'
  recorded_at: Fri, 26 Sep 2014 13:09:13 GMT
recorded_with: VCR 2.9.3
